
.icon {
  background-image: url('../images/sprite.png');
}

.icon-lock {
  background-position: -0px -0px;
  width: 20px;
  height: 20px;
}
.icon-arrow_right {
  background-position: -0px -20px;
  width: 18px;
  height: 21px;
}
.icon-check {
  background-position: -0px -41px;
  width: 21px;
  height: 21px;
}
.icon-withdraw {
  background-position: -0px -62px;
  width: 22px;
  height: 22px;
}
.icon-wallet_hover {
  background-position: -0px -84px;
  width: 22px;
  height: 22px;
}
.icon-champion_cup {
  background-position: -0px -106px;
  width: 21px;
  height: 22px;
}
.icon-notepad_hover {
  background-position: -0px -128px;
  width: 22px;
  height: 22px;
}
.icon-circle_left {
  background-position: -0px -150px;
  width: 22px;
  height: 22px;
}
.icon-circle_left_hover {
  background-position: -0px -172px;
  width: 22px;
  height: 22px;
}
.icon-wallet {
  background-position: -0px -194px;
  width: 22px;
  height: 22px;
}
.icon-credit_card {
  background-position: -0px -216px;
  width: 22px;
  height: 22px;
}
.icon-credit_card_hover {
  background-position: -0px -238px;
  width: 22px;
  height: 22px;
}
.icon-user_hover {
  background-position: -0px -260px;
  width: 22px;
  height: 22px;
}
.icon-gift {
  background-position: -0px -282px;
  width: 21px;
  height: 22px;
}
.icon-gift_hover {
  background-position: -0px -304px;
  width: 21px;
  height: 22px;
}
.icon-user {
  background-position: -0px -326px;
  width: 22px;
  height: 22px;
}
.icon-transfer_hover {
  background-position: -0px -348px;
  width: 22px;
  height: 22px;
}
.icon-transfer {
  background-position: -0px -370px;
  width: 22px;
  height: 22px;
}
.icon-withdraw_hover {
  background-position: -0px -392px;
  width: 22px;
  height: 22px;
}
.icon-rebate_hover {
  background-position: -0px -414px;
  width: 22px;
  height: 22px;
}
.icon-notepad {
  background-position: -0px -436px;
  width: 22px;
  height: 22px;
}
.icon-rebate {
  background-position: -0px -458px;
  width: 24px;
  height: 24px;
}
.icon-volume {
  background-position: -0px -482px;
  width: 27px;
  height: 25px;
}
.icon-vip {
  background-position: -0px -507px;
  width: 28px;
  height: 26px;
}
.icon-arrow_right2 {
  background-position: -0px -533px;
  width: 19px;
  height: 26px;
}
.icon-vip_hover {
  background-position: -0px -559px;
  width: 28px;
  height: 26px;
}
.icon-present {
  background-position: -0px -585px;
  width: 28px;
  height: 28px;
}
.icon-phone_hover {
  background-position: -0px -613px;
  width: 24px;
  height: 28px;
}
.icon-close {
  background-position: -0px -641px;
  width: 28px;
  height: 28px;
}
.icon-present_hover {
  background-position: -0px -669px;
  width: 28px;
  height: 28px;
}
.icon-home {
  background-position: -0px -697px;
  width: 30px;
  height: 28px;
}
.icon-phone {
  background-position: -0px -725px;
  width: 24px;
  height: 28px;
}
.icon-magnifier {
  background-position: -0px -753px;
  width: 28px;
  height: 28px;
}
.icon-home_hover {
  background-position: -0px -781px;
  width: 30px;
  height: 28px;
}
.icon-arrow_up {
  background-position: -0px -809px;
  width: 44px;
  height: 29px;
}
.icon-arrow_up2 {
  background-position: -0px -838px;
  width: 33px;
  height: 31px;
}
.icon-member_lv4 {
  background-position: -0px -869px;
  width: 112px;
  height: 37px;
}
.icon-member_lv1 {
  background-position: -0px -906px;
  width: 112px;
  height: 37px;
}
.icon-member_lv2 {
  background-position: -0px -943px;
  width: 112px;
  height: 38px;
}
.icon-lang_cn {
  background-position: -0px -981px;
  width: 38px;
  height: 38px;
}
.icon-member_lv3 {
  background-position: -0px -1019px;
  width: 112px;
  height: 38px;
}
.icon-user_2 {
  background-position: -0px -1057px;
  width: 38px;
  height: 38px;
}
.icon-member_lv0 {
  background-position: -0px -1095px;
  width: 112px;
  height: 38px;
}
.icon-member_lv5 {
  background-position: -0px -1133px;
  width: 112px;
  height: 38px;
}
.icon-weChat {
  background-position: -0px -1171px;
  width: 47px;
  height: 39px;
}
.icon-call {
  background-position: -0px -1210px;
  width: 44px;
  height: 41px;
}
.icon-customer_service {
  background-position: -0px -1251px;
  width: 42px;
  height: 44px;
}
.icon-qq {
  background-position: -0px -1295px;
  width: 43px;
  height: 44px;
}
.icon-vip_icon1_active {
  background-position: -0px -1339px;
  width: 49px;
  height: 49px;
}
.icon-vip_icon2 {
  background-position: -0px -1388px;
  width: 49px;
  height: 49px;
}
.icon-vip_icon2_active {
  background-position: -0px -1437px;
  width: 49px;
  height: 49px;
}
.icon-vip_icon1 {
  background-position: -0px -1486px;
  width: 49px;
  height: 49px;
}
.icon-saving {
  background-position: -0px -1535px;
  width: 62px;
  height: 59px;
}
.icon-withdraw_2 {
  background-position: -0px -1594px;
  width: 54px;
  height: 64px;
}
.icon-user {
  background-position: -0px -1658px;
  width: 188px;
  height: 188px;
}
