@baseWidth: 375px;
@baseSize: @baseWidth/10;
@baseColor: #f7941d;
@activeColor: #cc8116;
@uiColor: #c98120;
@buttonColor: #ad6f1c;
@backColor: #dcd9d9;
@fontColor: #999999;
@descriptionColor: #03d055;
@warnColor: #fcc800;
@linear: linear-gradient(to bottom, #383838, #080808);
@outlineColor: 0px 0px 10px 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835;

@layerUI: 99;
@layerPOPUP: 100;
@layerAnimation: 101;

@topHeight: unit(76px/@baseSize, rem);
@bottomHeight: unit(70px/@baseSize, rem);

.rem(@selector,@amt,@baseSize:@baseSize) {
    @{selector} : unit((@amt/@baseSize), rem);
}

.width(@x) {
  width: unit(@x/@baseSize, rem);
}

.max-width(@x) {
  max-width: unit(@x/@baseSize, rem);
}

.min-height(@x) {
  min-height: unit(@x/@baseSize, rem);
}

.max-height(@x) {
  max-height: unit(@x/@baseSize, rem);
}

.height(@x) {
  height: unit(@x/@baseSize, rem);
}

.line-height(@x) {
  line-height: unit(@x/@baseSize, rem);
}

.font-size(@x) {
  font-size: unit(@x/@baseSize, rem);
}

.top(@x) {
  top: unit(@x/@baseSize, rem);
}

.mt(@x) {
  margin-top: unit(@x/@baseSize, rem);
}

.pt(@x) {
  padding-top: unit(@x/@baseSize, rem);
}

.bottom(@x) {
  bottom: unit(@x/@baseSize, rem);
}

.mb(@x) {
  margin-bottom: unit(@x/@baseSize, rem);
}

.pb(@x) {
  padding-bottom: unit(@x/@baseSize, rem);
}

.left(@x) {
  left: unit(@x/@baseSize, rem);
}

.ml(@x) {
  margin-left: unit(@x/@baseSize, rem);
}

.pl(@x) {
  padding-left: unit(@x/@baseSize, rem);
}

.right(@x) {
  right: unit(@x/@baseSize, rem);
}

.mr(@x) {
  margin-right: unit(@x/@baseSize, rem);
}

.pr(@x) {
  padding-right: unit(@x/@baseSize, rem);
}

.text-indent(@x) {
  text-indent: unit(@x/@baseSize, rem);
}

.border-radius(@x) {
  border-radius: unit(@x/@baseSize, rem);
}

.translateX(@x) {
  transform: translateX(unit(@x/@baseSize, rem));
}

.translateY(@x) {
  transform: translateY(unit(@x/@baseSize, rem));
}

.iconBox {
  display: inline-block;
  vertical-align: middle;
}

.clearBoth:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.UIButton {
  /* 预定义宽高字号 */
  .font-size(16px);
  .width(170px);
  .height(50px);
  .line-height(50px);

  margin: 0 auto;
  background-color: @buttonColor;
  text-align: center;
  cursor: pointer;

  &.Disabled {
    background-color: #797979 !important;
  }

  &.hollow {
    background-color: transparent;
    border: 1px solid @buttonColor;
  }

  &.green {
    background-color: #31905b;
  }

  &:hover {
    > div {
      //background: linear-gradient(to top, rgba(0, 0, 0, 0.26), rgba(255, 255, 255, 0.26));
    }
  }

  &:active {
    > div {
      box-shadow: 2px 2px 5px fadeout(#000, 50%) inset;
    }
  }
  > div {
    height: 100%;
    line-height: inherit;
    color: #ffffff;
    //background: linear-gradient(to top, rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0.13));
    //border-radius: 5px;
  }
}

.UIInput {
  width: 100%;
  .text-indent(12px);
  .font-size(16px);
  .height(36px);
  .line-height(36px);
  border: 1px solid @baseColor;
  border-radius: 3px;
  padding: 0;
  background-color: transparent;

  &:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: @outlineColor;
  }
}

.UISelect {
  .UIInput;
}

.UICheckBox {
  position: relative;
  .width(50px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  > input {
    display: none;

    &:checked {
      background-color: #0eaa0e;
      border-color: #0eaa0e;
      & + label {
        background-color: #0eaa0e;
        &:before {
          background-color: #fff;
          right: 0;
        }
      }
    }
  }

  > label {
    display: block;
    overflow: hidden;
    //cursor: pointer;
    .height(30px);
    .line-height(30px);
    padding: 0;
    box-shadow: 1px 1px #666666;
    .border-radius(30px);
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;

    &:before {
      content: "";
      display: block;
      .width(26px);
      .height(26px);
      margin: 0;
      background: #0eaa0e;
      position: absolute;
      .top(2px);
      .right(22px);
      border-radius: 50%;
      transition: all 0.3s ease-in 0s;
      box-shadow: 1px 1px #666666;
    }
  }

}