.iconBox {
  display: inline-block;
  vertical-align: middle;
}
.clearBoth:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.UIButton {
  /* 预定义宽高字号 */
  font-size: 0.42666667rem;
  width: 4.53333333rem;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  margin: 0 auto;
  background-color: #ad6f1c;
  text-align: center;
  cursor: pointer;
}
.UIButton.Disabled {
  background-color: #797979 !important;
}
.UIButton.hollow {
  background-color: transparent;
  border: 1px solid #ad6f1c;
}
.UIButton.green {
  background-color: #31905b;
}
.UIButton:active > div {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) inset;
}
.UIButton > div {
  height: 100%;
  line-height: inherit;
  color: #ffffff;
}
.UIInput {
  width: 100%;
  text-indent: 0.32rem;
  font-size: 0.42666667rem;
  height: 0.96rem;
  line-height: 0.96rem;
  border: 1px solid #f7941d;
  border-radius: 3px;
  padding: 0;
  background-color: transparent;
}
.UIInput:focus {
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835;
}
.UISelect {
  width: 100%;
  text-indent: 0.32rem;
  font-size: 0.42666667rem;
  height: 0.96rem;
  line-height: 0.96rem;
  border: 1px solid #f7941d;
  border-radius: 3px;
  padding: 0;
  background-color: transparent;
}
.UISelect:focus {
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835, 0 0 1px #FDD835;
}
.UICheckBox {
  position: relative;
  width: 1.33333333rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.UICheckBox > input {
  display: none;
}
.UICheckBox > input:checked {
  background-color: #0eaa0e;
  border-color: #0eaa0e;
}
.UICheckBox > input:checked + label {
  background-color: #0eaa0e;
}
.UICheckBox > input:checked + label:before {
  background-color: #fff;
  right: 0;
}
.UICheckBox > label {
  display: block;
  overflow: hidden;
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0;
  box-shadow: 1px 1px #666666;
  border-radius: 0.8rem;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.UICheckBox > label:before {
  content: "";
  display: block;
  width: 0.69333333rem;
  height: 0.69333333rem;
  margin: 0;
  background: #0eaa0e;
  position: absolute;
  top: 0.05333333rem;
  right: 0.58666667rem;
  border-radius: 50%;
  transition: all 0.3s ease-in 0s;
  box-shadow: 1px 1px #666666;
}
