<div class="noticeLayer" id="%layer%">
    <div class="noticeMask"></div>
    <div class="noticeWrap">
        <div class="noticeBox">
            <h1 class="notice_title">
                提示
                <img src="images/close.png" alt="" class="popCloseIcon" id="%cancel%">
            </h1>
            <div class="notice_body">
                <div class="notice_content">
                    %content%
                </div>
                <div class="notice_button">
                    %btn%<a id="%uid%">%name%</a>%btn%
                </div>
            </div>
        </div>
    </div>
</div>