<div>测试页面</div>
<div data-element="testNode" data-events="click: testFn; mouseover: testFn2;">123123123123123123</div>
<div data-element="testNode" data-events="click: testFn; mouseover: testFn2;">123123123123123123</div>
